<a href="https://colab.research.google.com/github/eduzegarra/grade_01/blob/main/papa_lineal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel('/content/sample_data/df_base2.xlsx')

In [21]:
dt=data[data.variedad=='Papa Blanca']

In [ ]:
dt['p_norm']=(dt.precio-dt.precio.min())/(dt.precio.max()-dt.precio.min())
dt['v_norm']=(dt.volumen-dt.volumen.min())/(dt.volumen.max()-dt.volumen.min())

In [ ]:
plt.hist(dt.v_norm)

In [28]:
import statsmodels.formula.api as smf

In [ ]:
model = smf.ols(formula='p_norm ~ v_norm + year + C(mes) + C(provincia)', data=dt)
results=model.fit()
results.summary()

In [ ]:
dt['yy_hat']=results.fittedvalues

fig=plt.figure(figsize=(8,8))
ax=fig.add_subplot(1,1,1)
plt.axline([0, 0], [1, 1])
plt.scatter(dt.p_norm,dt.yy_hat)
ll=np.arange(0,1.1,.1)
plt.xticks(ticks=ll)
plt.yticks(ticks=ll)
fig.show()

In [ ]:
plt.figure(figsize=(8,5))
dt.groupby('ym')['p_norm'].mean().plot(label='precio')
dt.groupby('ym')['yy_hat'].mean().plot(label='precio_hat', linestyle='--')
plt.xticks(rotation=45, fontsize='small')
plt.yticks(np.arange(0,1.2,.1))
plt.xlabel('')
plt.legend()
plt.show

In [ ]:
dt_dum = pd.get_dummies(dt[['v_norm','year','mes','provincia']])
dt_dum.shape
dt_dum.columns

In [44]:
dt_dum.drop(['mes_m_01','provincia_Ambo'], axis=1, inplace=True)

In [46]:
X = np.array(dt_dum)
XX=pd.DataFrame(X)
y = np.array(dt.p_norm).reshape(-1,1)

In [ ]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm.fit(X, y)
y_hat = lm.predict(X)
y_hat.shape

lm.coef_.reshape(-1,1).shape, XX.columns.shape
coefs = pd.DataFrame()
coefs['lab'] = dt_dum.columns
coefs['coef'] = lm.coef_.reshape(-1,1)
coefs

In [54]:
results.params

Intercept                      -19.063565
C(mes)[T.m_02]                   0.009900
C(mes)[T.m_03]                  -0.007097
C(mes)[T.m_04]                  -0.032289
C(mes)[T.m_05]                  -0.043180
C(mes)[T.m_06]                  -0.024947
C(mes)[T.m_07]                   0.007323
C(mes)[T.m_08]                   0.017514
C(mes)[T.m_09]                   0.035329
C(mes)[T.m_10]                   0.018418
C(mes)[T.m_11]                   0.000331
C(mes)[T.m_12]                   0.001811
C(provincia)[T.Andahuaylas]      0.002187
C(provincia)[T.Arequipa]         0.005407
C(provincia)[T.Barranca]         0.006818
C(provincia)[T.Canete]           0.004599
C(provincia)[T.Huamanga]         0.014724
C(provincia)[T.Huancavelica]     0.002163
C(provincia)[T.Huancayo]         0.014592
C(provincia)[T.Huanuco]          0.020863
C(provincia)[T.Huaral]           0.009835
C(provincia)[T.Huaura]           0.007818
C(provincia)[T.Ica]              0.006631
C(provincia)[T.Jauja]            0.009874
C(provincia)[T.Junin]           -0.001944
C(provincia)[T.Lima]            -0.000557
C(provincia)[T.Nazca]            0.004726
C(provincia)[T.Pasco]            0.005984
C(provincia)[T.Tarma]            0.007803
C(provincia)[T.Tayacaja]        -0.001530
v_norm                          -0.066967
year                             0.009606
dtype: float64

In [55]:
coefs

                       lab      coef
0                   v_norm -0.066967
1                     year  0.009606
2                 mes_m_02  0.009900
3                 mes_m_03 -0.007097
4                 mes_m_04 -0.032289
5                 mes_m_05 -0.043180
6                 mes_m_06 -0.024947
7                 mes_m_07  0.007323
8                 mes_m_08  0.017514
9                 mes_m_09  0.035329
10                mes_m_10  0.018418
11                mes_m_11  0.000331
12                mes_m_12  0.001811
13   provincia_Andahuaylas  0.002187
14      provincia_Arequipa  0.005407
15      provincia_Barranca  0.006818
16        provincia_Canete  0.004599
17      provincia_Huamanga  0.014724
18  provincia_Huancavelica  0.002163
19      provincia_Huancayo  0.014592
20       provincia_Huanuco  0.020863
21        provincia_Huaral  0.009835
22        provincia_Huaura  0.007818
23           provincia_Ica  0.006631
24         provincia_Jauja  0.009874
25         provincia_Junin -0.001944
26          provincia_Lima -0.000557
27         provincia_Nazca  0.004726
28         provincia_Pasco  0.005984
29         provincia_Tarma  0.007803
30      provincia_Tayacaja -0.001530